<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#bug_list">bug列表</a></h4>
  </div>
  <div id="bug_list" class="panel-collapse collapse">
    <div class="panel-group" id="accordion">
      <% bug_array.each do |bug|%>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_bug<%= bug[:id] %>">
            <%= bug[:id]%>
            </a>
          </h4>
        </div>
        <div id="collapse_bug<%= bug[:id] %>" class="panel-collapse collapse">
          <p><%= bug[:title] %></p>
          <div class="panel-group" id="bug_detail<%= bug[:id] %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#bug_detail<%= bug[:id] %>" href="#bug_desc<%= bug[:id] %>">bug描述</a></h4>
              </div>
              <div id="bug_desc<%= bug[:id] %>" class="panel-collapse collapse">
                <div class="panel-body"><pre><%= bug[:desc] %></pre></div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#bug_detail<%= bug[:id] %>" href="#bug_comment<%= bug[:id] %>">bug_comment</a></h4>
              </div>
              <div id="bug_comment<%= bug[:id] %>" class="panel-collapse collapse">
                <div class="panel-body"><pre><%= bug[:comment] %></pre></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
