<h1>测试mysql远程连接</h1>
<form method="POST">
  <div class='input-group'>
    <div class='input-group-addon'>主机地址</div>
    <input type="text" class='form-control' name="mysql_host">
  </div>
  <div class='input-group'>
    <div class='input-group-addon'>数据库名</div>
    <input type="text" class='form-control' name="mysql_db">
  </div>
  <div class='input-group'>
    <div class='input-group-addon'>数据模式</div>
    <select name="mode" class='form-control'>
      <option value='inside'>内置DC</option>
      <option value='outside'>外置DC</option>
    </select>
  </div>
</form>
<button type="submit" class="btn btn-success form-control">测试</button>
