<form  enctype="multipart/form-data" role="form" method="POST">
  <div class="form-group">
    <label for="file">文件上传</label>
    <input type="file" name="file" id="file" >
  </div>
  <button type="submit" class="btn btn-success">上传</button>
</form>
