<a href="<%= dst_file %>"><span class="glyphicon glyphicon-download"><b>下载此文件</b></span></a>
<hr>
<div class="form-group" id="att_file_upload_div">
  <label for="upfile">上传数据文件</label>
  <input class='form-control' type="file" id='att_file_name'>
  <p class="help-block">上传的文件将会替换掉原先这个数据附件,请一定选择正确/相同格式的文件上传!</p>
  <button class="btn btn-primary" onclick="uploadAttFile();">上传</button>
  <div id="att_file_upload_status">
  </div>
</div>

