<label><%= name %></label>
<a class='btn btn-link' href="#" onclick="toggle_list_and_detail();">返回附件列表</a>
<br>
<% case att[:type] %>
<% when /^csv_/ %>  <!-- csv字符串 --> <!-- csv文件 -->
    <div class="btn-group navbar-left">
      <button class='btn btn-danger' onclick="save_csv_att();">保存</button>
    </div>
    <%= erb :'func_case/table', :layout => false, :locals => {
            :table_hash_array => trans_csv_to_array(att[:type], att[:value]), :table_id => 'csv_table', :readonly => false, :fix_cols => false
    } %>
    <br>
<% when /string/ %>         <!-- 普通字符文本 -->
    <div class="btn-group navbar-left">
      <button class='btn btn-danger' onclick="save_string_att();">保存</button>
    </div>

    <textarea class='form-control' id="att_value" style="min-height: 200px"><%= att[:value] %></textarea>
<% else %>                  <!-- 未知类型 -->
<% end %>
<input id="att_name" class="hidden" value="<%= name %>">
<%= erb :'func_case/att_file_tool', :layout => false, :locals => {:dst_file => att[:value]} if att[:type] =~ /_file$/ %>
<hr>
<button class='btn btn-danger' onclick="del_att();">删除</button>

