<% data.each do |name, att| %>
    <div class="col-lg-2">
      <a href="#" onclick="load_att('<%= name %>');">
        <img src="/pics/<%= att[:type] %>.png" alt="<%= name %>">
      </a>
      <label><%= name %></label>
    </div>
<% end if data %>
<div class="col-lg-2">
  <a href="#" data-toggle="modal" data-target="#add_att_dialog">
    <img src="/pics/add_att.png" alt="添加附件驱动">
  </a>
</div>
