<% ondb_click = nil %>
<% unless readonly %>
    <div class="btn-group navbar-right">
      <button class="btn btn-sm btn-danger" onclick="cloneRow('<%= table_id %>');" title="复制一行">
        <span class="glyphicon glyphicon-repeat"></span><span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      <button class="btn btn-sm btn-danger" onclick="addRow('<%= table_id %>');" title="追加一行">
        <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      <button class="btn btn-sm btn-danger" onclick="deleteRow('<%= table_id %>');" title="刪除一行">
        <span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      <% unless fix_cols %>
          <button class="btn btn-sm btn-danger" onclick="addColumn('<%= table_id %>');" title="追加一列">
            <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <button class="btn btn-sm btn-danger" onclick="deleteColumn('<%= table_id %>');" title="刪除一列">
            <span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-arrow-down"></span>
          </button>
      <% end %>
    </div>
    <% ondb_click = 'contenteditable' %>
<% end %>
<table id="<%= table_id %>" class="table table-bordered table-striped table-condensed">
  <% if table_hash_array && table_hash_array.length > 0 %>
      <tr>
        <td>#</td>
        <% keys = table_hash_array[0].keys.sort %>
        <% keys.each do |k| %>
            <td <%= ondb_click %>><%= k %></td>
        <% end %>
      </tr>
      <% table_hash_array.each_with_index do |record, i| %>
          <tr>
            <td><%= i+1 %></td>
            <% keys.each do |k| %>
                <td <%= ondb_click %>><%= record[k] %></td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>
