<link rel="stylesheet" href="/css/jstree/themes/default/style.min.css"/>
<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" href="#device_cfg">测试设备配置</a></h4>
    </div>
    <div id="device_cfg" class="panel-collapse collapse in">
      <div class="input-group">
        <span class="input-group-addon">选择测试设备配置:</span>
        <select class="form-control" id="cfg_name" name="cfg_name"></select>
      </div>
      <div id="active_cfg"></div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">测试用例</div>
    <div id="testcases_body" class="panel-body">
      <div id="jstree_debug_div"></div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">执行机配置</div>
    <div class="panel-body">
      <span class='label label-primary'>执行机服务状态:</span>
      <span id='drb_loading' class='glyphicon glyphicon-time'>查询中...</span>
      <table class="table" id='drb_status'>
      </table>
      <div class="input-group">
        <span class="input-group-addon">执行机交互   URI</span>
        <select class="form-control" id="drb_uri" name="drb_uri">
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">测试结果目录</span>
        <input class="form-control" type="text" id="result_dir" name="result_dir" size=20/>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" onclick='add_task(this);'><b>开始运行</b></button>
</div>
<script src="/js/jstree.js"></script>
<script src='/js/tasks/add_task.js'></script>
<script>
    $(document).ready(function () {
        $('select#cfg_name').change(function () {
            get_device_cfg($(this).val())
        });
        get_device_cfg_names();
        //获取执行机状态:
        get_run_server_status();
    });
</script>