<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#全局关键字">全局关键字</a></h4>
  </div>
  <div id="全局关键字" class='in'>
    <table class='table table-bordered table-striped'>
      <tr>
        <th>操作名</th>
        <th>参数</th>
        <th>类名(全路径)</th>
        <th>操作</th>
      </tr>
      <% glob_funcs.each do |op, kp| %>
          <% kp.each do |k, p| %>
              <tr>
                <td><%= op %></td>
                <td><%= p %></td>
                <td><%= k %></td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-success addModelBtn" data-toggle="modal" data-target="#glob_edit_dialog">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-info editModelBtn" data-toggle="modal" data-target="#glob_edit_dialog">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-danger delModelBtn" data-toggle="modal" data-target="#glob_edit_dialog">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
<!--- modle -->
<div id="glob_edit_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="glob_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="glob_label">全局关键字</h3>
      </div>
      <div class="modal-body">
        <form method="POST" action="/tc_snipper/config/glob">
          操作名:
          <input name="func" type="text" class="form-control">
          <input name="old_func" type="text" class="form-control hidden">
          参数:
          <input name="func_param" type="text" class="form-control">
          <input name="old_func_param" type="text" class="form-control hidden">
          类名(全路径):
          <input name="func_class" type="text" class="form-control">
          <input name="old_func_class" type="text" class="form-control hidden">

          <input name='opr' class='hidden'>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          取消
        </button>
        <button class="btn btn-primary submit-trigger">提交</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/tc_snipper/glob.js'></script>