<div id='object'></div>
<div id='glob'></div>
<script>
    $.ajax({
        url: '/tc_snipper/config/glob',
        type: 'get',
        success: function (data) {
            $('div#glob').html(data);
        }
    });
    $.ajax({
        url: '/tc_snipper/config/object',
        type: 'get',
        success: function (data) {
            $('div#object').html(data);
        }
    });
</script>
