<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#对象关键字">对象关键字</a></h4>
  </div>
  <div id="对象关键字" class='in panel-body'>
    <label>对象类:</label>

    <div class="input-group">
      <select id='object_class' class='form-control'>
      </select>

      <div class='input-group-btn'>
        <button id='add_object_class' class="btn btn-success" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id='del_object_class' class="btn btn-danger" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>

    <label>操作:</label>

    <div class="input-group">
      <select id='object_func' class='form-control'></select>

      <div class='input-group-btn'>
        <button id='add_object_func' class="btn btn-success" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id='del_object_func' class="btn btn-danger" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>

    <label>参数列表:</label>

    <div class="input-group">
      <select class='form-control list' id='object_func_param'></select>

      <div class='input-group-btn'>
        <button id='add_object_param' class="btn btn-success" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id='del_object_param' class="btn btn-danger" data-toggle="modal" data-target="#object_edit_dialog">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>

  </div>
</div>

<!--- modle -->
<div id="object_edit_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="object_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="object_label">对象关键字</h3>
      </div>
      <div class="modal-body">
        <div id='div_class'>
          <label>对象类(全路径):</label>
          <input name='klass' type='text' class='form-control'>
        </div>
        <div id='div_func'>
          <label>操作自然语言:</label>
          <input name='func' type='text' class='form-control'>
          <label>操作对应代码方法:</label>
          <input name='code' type='text' class='form-control'>
        </div>
        <div id='div_param'>
          <label>操作参数举例:</label>
          <input name='param' type='text' class='form-control'>
        </div>
        <input name='opr' class='hidden'>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">
          取消
        </button>
        <button class="btn btn-primary submit-trigger" data-dismiss="modal">提交</button>
      </div>
    </div>
  </div>
</div>
<script src='/js/tc_snipper/object.js'></script>