<ol class='breadcrumb'>
  <li>
    <a href='/tests/index?type=<%= type %>'>
      <span class="badge"><%= type %></span>Home
    </a>
  </li>
  <li>
    <a href='/tests/suite?type=<%= type %>&name=<%= suite %>'><%= suite %></a>
  </li>
  <li class='active'>
    [<%= case_id %>]<%= case_name %>
    <% href ="/tests/case?type=#{type}&suite=#{suite}&id=#{case_id}&opr=" %>
    <% href << (opr == 'view' ? 'edit' : 'view') %>
  </li>
  <li>
    <a href='<%= href %>'><%= (opr == 'view' ? 'edit' : 'view') %></a>
  </li>
</ol>
<ul class="pagination pagination-sm">
  <% case_ids.each do |id| %>
      <% href ="/tests/case?type=#{type}&suite=#{suite}&id=#{id}&opr=#{opr}" %>
      <li<% if id.to_s == case_id.to_s %> class="active"<% end %>>
        <a href='<%= href %>'><%= id %><span class="sr-only">(current)</span></a>
      </li>
  <% end %>
</ul>