<ol class='breadcrumb'>
  <li>
    <a href='/tests/index?type=<%= type %>'>
      <span class="badge"><%= type %></span>Home
    </a>
  </li>
  <li class='active'><%= suite %></li>
  <li>
    <% href ="/tests/case?type=#{type}&suite=#{suite}&opr=add" %>
    <a href='<%= href %>'><span class="glyphicon glyphicon-plus">添加用例</span></a>
  </li>
</ol>
