.editor {
    width: auto;
    height: 400px;
    font-size: 12px;
}

.snipper {
    width: auto;
    height: 400px;
    font-size: 12px;
}

.coder {
    width: auto;
    height: 400px;
    font-size: 12px;
}

.att-grid {
    width: auto;
    height: auto;
}

textarea.resize {
    max-height: 500px;
    min-height: 20px;
    resize: vertical;
}

.tc-debug-dialog {
  width: 90%;
  height: auto;  
}

.debug-log {
    width: auto;
    height: 200px;
    font-size: 12px;   
}
.debug-code {
    width: auto;
    height: 100px;
    font-size: 12px;   
}


