html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto 5px;
    /* Pad bottom by footer height */
    padding: 0 0 0px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 20px;
    background-color: #181818;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 55px 10px 0;
}
#wrap > .container-liquidr {
    padding: 55px 10px 0;
}

.container .credit {
    margin: 0px 0;
}

#footer > .container {
    padding-left: 5px;
    padding-right: 5px;
}
.breadcrumb {
    margin-bottom: 10px;
}
.pagination {
    margin: 0px 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #5cb85c;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.nav-func-tc{
    background-color: #222222;
}