<link href="/css/func_tc.css" rel="stylesheet">
<%= erb :'header/case_header', :layout => false, :locals => {
        :type => type,
        :suite => suite,
        :case_id => case_id,
        :case_name => tc['case_name'],
        :opr => opr,
        :case_ids => case_ids
} %>
<% part = tc['case_id'] %>
<div class="panel panel-info" id="div_<%= part %>">
  <div class="panel-heading">
    <h4 class="panel-title">测试正文</h4>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">用例名称：</span>
      <input id='case_name' name='case_name' class="form-control" value=<%= tc['case_name'] %> <%= 'disabled' if  opr == 'view' %>>
    </div>
    <ul class="nav nav-tabs nav-func-tc">
      <li class='active'><a href="#tc_natrue" data-toggle="tab">测试正文</a></li>
      <li><a href="#tc_code" data-toggle="tab">测试代码</a></li>
      <li><a href="#tc_att" data-toggle="tab">数据附件</a></li>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='tc_natrue'>
        <div class="row">
          <div class="col-xs-8">
            <div id="steps" class="editor"><%= tc['steps'] %></div>
          </div>
          <div class="col-xs-4">
            <div id="snipper" class="snipper"></div>
          </div>
        </div>
        <% unless opr == 'view' %>
            <button id="save" class="btn btn-primary" onclick="save_func_tc();"><b>保存</b></button>
        <% end %>
      </div>
      <div class="tab-pane" id='tc_code'>
        <div id="code" class="coder"><%= tc['code'] %></div>
        <% unless opr == 'view' %>            
          <button id="debug" class="btn btn-primary" onclick="init_debug_func_tc_view(ace.edit('code').getValue());"><b>调试运行</b></button>            
        <% end %>
      </div>
      <div class="tab-pane" id='tc_att'>
        <div class="att-grid" id="tc_att_list">
          <%= erb :'func_case/att_list', :layout => false, :locals => {:data => tc['data']} %>
        </div>
        <div class="att-grid" id="tc_att_detail"></div>
      </div>
    </div>
  </div>
</div>

<div id="debug_log_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="debug_log_dialog_label" aria-hidden="true">
  <div class='modal-dialog  tc-debug-dialog'>
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="debug_log_dialog_label">调试用例</h3>
        </div>
        <div class="modal-body">
          <label>调试代码</label>
          <div id='debug_code' class='debug-code'></div>
          <label>调试日志</label>
          <div id="debug_log" class='debug-log'></div>
        </div>
        <div class="modal-footer">
          <div class='row'>
            <div class='col-xs-4'>
              <div class='input-group'>
                <span class='input-group-addon'>测试设备</span>
                <select id='debug_cfgname' class='form-control'></select>
              </div>
            </div>
            <div class='col-xs-4'>
              <div class='input-group'>
                <span class='input-group-addon'>执行机</span>
                <select id='debug_drb' class='form-control'></select>
              </div>
            </div>
            <div class='col-xs-4'>
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
              <button class="btn btn-primary" onclick='debug_run();'><span class='glyphicon glyphicon-send'></span></button>
            </div>
          </div>           
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add_att_dialog" tableindex="-1" role="dialog" aria-labelledby="add_att_dialog_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add_att_dialog_label">添加数据附件</h4>
      </div>
      <div class="modal-body">
        <label for="add_att_name">数据附件名称:</label>
        <input class="form-control" id="add_att_name" name="add_att_name">
        <label for="add_att_type">数据附件类型:</label>
        <select class="form-control" id="add_att_type" name="add_att_type">
          <option value="csv_string">CSV格式文本</option>
          <option value="csv_file">CSV格式文件</option>
          <option value="bin_file">二进制文件</option>
          <option value="string">普通文本</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="add_att();">添加</button>
      </div>
    </div>
  </div>
  </div>
</div>

<script src='/js/purl.js'></script>
<script src="/js/ace/ace.js" charset="utf-8"></script>
<script src="/js/ace/ext-language_tools.js" charset="utf-8"></script>
<script src="/js/case/table.js"></script>
<script src='/js/case/func_case.js' charset="utf-8"></script>
<script>
    $('#tc_att_detail').slideToggle();
    init_editor(<%= opr == 'view' ? 'true' : 'false' %>);
</script>

