<%= erb :'header/index_header', :layout => false, :locals => {
        :type => type,
} %>
<table class="table table-bordered table-striped order-table">
  <tr>
    <th>#</th>
    <th>测试套名</th>
    <th>描述</th>
    <th>用例数</th>
    <th>操作</th>
  </tr>
  <% suites.keys.sort.each_with_index do |s_name, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><a href="/tests/suite?type=<%= type %>&name=<%= s_name %>"><%= s_name %></a></td>
        <td><%= suites[s_name][:desc] %></td>
        <td><%= suites[s_name][:case].length %></td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-success add_suite" data-toggle="modal" data-target="#suite_dialog">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-info edit_suite" data-toggle="modal" data-target="#suite_dialog">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-danger del_suite" data-toggle="modal" data-target="#suite_dialog">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<!--- modle -->
<div id="suite_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="glob_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="suite_label">测试套管理</h3>
      </div>
      <div class="modal-body">
        <form method="POST" action="/tests/suite">
          测试套名
          <input name="name" type="text" class="form-control">
          <input name="old_name" type="text" class="form-control hidden">
          描述:
          <input name="desc" type="text" class="form-control">
          <input name="old_desc" type="text" class="form-control hidden">
          <input name='opr' class='hidden'>
          <input name='type' value='<%= type %>' class='hidden'>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          取消
        </button>
        <button class="btn btn-primary submit-trigger">提交</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/case/suite.js'></script>