<%= erb :'header/case_header', :layout => false, :locals => {
        :type => type,
        :suite => suite,
        :case_id => case_id,
        :case_name => tc['case_name'],
        :opr => opr,
        :case_ids => case_ids
} %>

<% readonly = opr == 'view' %>
<%= gen_tc_summary_html(tc, readonly) %>
<%= gen_tc_data_html(tc, readonly) %>
<%= gen_tc_cfg_html(tc, readonly) %>
<%= gen_tc_check_html(tc, readonly) %>
<script src='/js/purl.js'></script>
<script src='/js/case/table.js'></script>
<script src="/js/case/query_case.js"></script>

