<%= erb :'header/suite_header', :layout => false, :locals =>  {
        :type => type,
        :suite => suite
} %>
<table class="table table-bordered table-striped  order-table">
  <tr>
    <th>用例编号</th>
    <th>用例名称</th>
    <th style="width: 160px"><font color="#0000FF">操作</font></th>
  </tr>
  <% tcs.each do |tc| %>
  <tr>
    <td><%= tc['case_id'] %></td>
    <td><%= tc['case_name'] %></td>
    <td>
      <% %w{view edit del clone}.map do |o| %>
          <a href="/tests/case?type=<%= type %>&suite=<%= suite %>&id=<%= tc['case_id'] %>&opr=<%= o %>"><%= o %></a>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
