<%# @param: ac_version %>
<%# @param: case_list %>
<img src="/pics/show_hide.png" id="show_hide">执行用例<span class="badge"><%= ac_version %></span>:</img>
<table border="1" id="cases_table" class='order-table'>
  <tr>
    <th><input type='checkbox' class='all_checkall'></th>
    <th>测试套件</th>
    <th>类型</th>
    <th>用例列表</th>
  </tr>
  <% @query_case_pool.sort.each do |kv| %>
      <tr>
        <td><input type='checkbox' class='checkall'></td>
        <td><%= kv[0] %></td>
        <td><span class="badge">query</span></td>
        <td>
          <% kv[1].each do |id|%>
              <% if (id =~ /\d+_.+/ && id.split('_', 2)[1] == ac_version) or id =~ /^\d+$/ %>
                  <a href="/tests/case?type=query&suite=<%= kv[0] %>&id=<%= id %>&opr=view"><%= id %></a>
                  <input type='checkbox' name='query_cases_of_<%= kv[0] %>[]' value='<%= id %>'>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  <% @func_case_pool.sort.each do |kv| %>
      <tr>
        <td><input type='checkbox' class='checkall'></td>
        <td><%= kv[0] %></td>
        <td><span class="badge">func</span></td>
        <td>
          <% kv[1].each do |id|%>
              <% if (id =~ /\d+_.+/ && id.split('_', 2)[1] == ac_version) or id =~ /^\d+$/ %>
                  <a href="/tests/case?type=func&suite=<%= kv[0] %>&id=<%= id %>&opr=view"><%= id %></a>
                  <input type='checkbox' name='func_cases_of_<%= kv[0] %>[]' value='<%= id %>'>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<script>
$(document).ready(function () {
    $("table#cases_table").hide();
    $("img#show_hide").click(function() {
        $("table#cases_table").toggle();
    });
    $(".checkall").click(function(){
        $(this).closest('tr').find(':checkbox').prop('checked', this.checked);
    });

    $(".all_checkall").click(function(){
        $(".checkall").click();
    });
});
</script>

