<link href="/css/logger.css" rel="stylesheet">
<label id='uri'><%= uri %></label>
<button onclick="update()">刷新</button>
<%= erb :running_pbar, :layout => false, :locals => {:uri => uri} %>
<fieldset>
  <legend>当前行日志</legend>
  <div id="log" class="log"></div>
</fieldset>
<script src="/js/ace/ace.js" charset="utf-8"></script>
<script src='/js/monitors/get_runner_info.js'></script>
<script>
    function update() {
      update_process_and_log($('#uri').text());
    }
    $(document).ready(function () {
        init_log();
        var updater = self.setInterval("update()", 3000);
    });
</script>
