<fieldset>
  <legend><b>实时进度---<%= uri %></b></legend>
  <span id="progress-header">啥都没有</span>
  <div class="progress progress-striped active">
    <div id='progress-bar-pass' class="progress-bar progress-bar-success" role="progressbar" style='width: "0%"'>0%</div>
    <div id='progress-bar-fail' class="progress-bar progress-bar-danger" role="progressbar" style='width: "0%"'>0%</div>
  </div>
</fieldset>