﻿<div id='ps'>
  <span id='drb_loading' class='glyphicon glyphicon-time'>服务器列表加载中...</span>
</div>
<script src='/js/monitors/get_runner_info.js'></script>
<script>
    var serv_list;
    function update_processes() {
      var fieldsets = $('div#ps fieldset');
      serv_list.forEach(function (ser, index) {
        update_process(ser, fieldsets[index]);
      });      
    }
    $(document).ready(function () {
        //获取所有服务器列表,并设置初始的内容
        $.ajax({
          url: '/cfgs/json_list_drblist',
          type: 'get',
          dataType: 'json',
          success: function (json) {
            serv_list = json;
            //清除加载中的状态提示.
            $('span#drb_loading').remove();
            $('#ps').html(json.map(function (ser) {
                return "<fieldset><legend><b>实时进度---" + ser + "</b></legend>\
                  <span id='progress-header'>啥都没有</span>\
                  <div class='progress progress-striped active'>\
                    <div id='progress-bar-pass' class='progress-bar progress-bar-success' role='progressbar' style='width: \"0%\"'>0%</div>\
                    <div id='progress-bar-fail' class='progress-bar progress-bar-danger' role='progressbar' style='width: \"0%\"'>0%</div>\
                  </div>\
                </fieldset>";
            }).join("\n"));
            
            self.setInterval("update_processes()", 3000);
          }
        });
    });
</script>


