<H1>准备DC环境</H1>
<H2>1.升级测试设备(可选,如果不需要升级则没有这一步)</H2>
<H2>2.开通mysql远程</H2>
<h3>开通mysql远程方法(内置)：</h3>
<h4>a.执行如下脚本:</h4>
<pre>
#! /usr/bin/bash
iptables -D INPUT -p tcp --dport 3306 -j DROP;
iptables -I INPUT -p tcp --dport 3306 -j ACCEPT;
/virus/mysql/bin/mysql -psinfors -e "grant all privileges on *.* to 'root'@'%' identified by 'sinfors' with grant option";
/virus/mysql/bin/mysql -psinfors -e "flush privileges";
</pre>

<h4>b.注释掉 /virus/mysql/my.cnf 文件中 这项:</h4>
<pre>bind-address=127.0.0.1
=>#bind-address = 127.0.0.1
</pre>
<h4>c.重启mysqld:</h4>
<pre>/etc/init.d/mysql restart</pre>
<h3>开通mysql远程方法(外置)：</h3>
<h4>a.进入到mysql修改mysql.user表：</h4>
如果是5.1版本的mysql则按下面这个方法:
<pre>
select user, host from mysql.user;
update mysql.user set host='%' where user='root' and host='localhost';
flush privileges;
</pre>
如果是5.5及以上版本的mysql则按下面这个方法:
<pre>
use mysql;
select user, host from user;
create table tmp_user like user;
INSERT INTO tmp_user SELECT * FROM user where user='root' and host='localhost';
update tmp_user set host='%';
INSERT INTO user SELECT * FROM tmp_user;
drop table tmp_user;
flush privileges;
</pre>
<h4>b.注释掉 my.ini 文件中 这项:</h4>
<pre>bind-address=127.0.0.1
=>#bind-address = 127.0.0.1
</pre>
<DIV>c.重启mysqld</DIV>
<pre>
net stop sangformysql
net start sangformysql
</pre>

<h2>3.添加报表测试接口</h2>
<p>如果不测试报表用例这一步可以忽略。</p>
<p>普通pdf报表测试需要打开自动化测试接口开关:</p>
<pre>在dcweb目录下新建dc_auto_test文件</pre>
<p>风险智能报表自动化测试接口:</p>
<pre>拷贝<a href="/files/intelligentreporttemp_autotest.php">intelligentreporttemp_autotest.php</a>(链接可下载) 到dcweb目录下</pre>
<H2>4.其它设置</H2>
<h4>a.去除dcweb目录和dcweb/temp目录下的 .htaccess 文件.</h4>
<h4>b.重命名/usr/sbin/aclogcleanner(外置内推) ---避免测试偶发性自动化删除自动化创建的表(无对应的dat)</h4>
