<% versions = %w[AC5.1 AC10G AC4.6] %>
<div class="input-group">
  <span class="input-group-addon">AC版本:</span>
  <select id="ac_version" name="ac_version" class="form-control">
    <% versions.each do |v| %>
        <option <%= "selected" if v == ac_version %>>
          <%= v %>
        </option>
    <% end %>
  </select>
</div>