<fieldset>
  <legend>当前队列</legend>
  <table class="table table-bordered table-striped">
  <% server_pool.each do |dr| %>
  <tr>
  	<td><%= dr %></td>
   <td><a href='?op=del&uri=<%= dr %>'>删除</a></td>
  </tr>
  <% end %>
  </table>
</fieldset>
<form accept-charset="UTF-8" action="<%= post_url %>" method="post">
  <fieldset class="druby_param">
    <legend>添加执行机</legend>
      执行机交互URI:<input id="drb_uri" name="drb_uri" size="40" type="text" placeholder="例如druby://abc.com:8080">
      <input type="submit" id ="run" value="添加"/>
  </fieldset>

</form>
