<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#测试设备配置列表">测试设备配置列表</a></h4>
  </div>
  <div id="测试设备配置列表" class="panel-collapse collapse">
    <div class="panel-group" id="accordion">
      <% device_cfgs.each_with_index do |c, i| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>"><%= c[:cfg_name] %></a>
            </h4>
          </div>
          <div id="collapse<%= i %>" class="panel-collapse collapse">
            <form accept-charset="UTF-8" action="<%= post_url %>"  method="post">
              <%= erb :testdevice_sub, :layout => false, :locals => {:cfg => c[:cfg], :stab => stab} %>
              <input class="hide" name="op" value="edit">
              <input class="hide" name="cfg_name" value="<%= c[:cfg_name] %>">
              <button class="btn btn-primary" type="submit"><b>保存</b></button>
            </form>
            <form  accept-charset="UTF-8" action="<%= post_url %>"  method="post">
              <input class="hide" name="op" value="del">
              <input class="hide" name="cfg_name" value="<%= c[:cfg_name] %>">
              <button class="btn btn-default" type="submit"><b>删除</b></button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<form accept-charset="UTF-8" action="<%= post_url %>"  method="post">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#添加测试设备配置">添加测试设备配置</a></h4>
  </div>
  <div id="添加测试设备配置" class="panel-collapse collapse">
    <%= erb :testdevice_sub, :layout => false, :locals => {
      :cfg => {
        :sys_config => "报表详细程度:详细\n" + "是否显示查询总页数:是\n" + "生成风险智能报表:开启\n" +
          "关键字统计功能:开启\n" + "URL时长统计功能:开启\n" + "IP相关功能:开启"
        },
      :stab => stab
      } %>
    <input class="hide" name="op" value="add">
    <input class="form-control" name="cfg_name" type="text" placeholder="取个配置名,不能和已有的重复！">
    <button class="btn btn-default" type="submit"><b>完成</b></button>
  </div>
</div>
</form>
