<div class="panel-body">
  <div class="panel-group" id="测试设备配置">
    <%= erb :ac_version,
            :layout => false,
            :locals => {:ac_version => cfg[:ac_version] }
    %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#测试设备配置" href="#Web参数">Web参数</a></h4>
      </div>
      <div id="Web参数" class="panel-collapse collapse">
        <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">登录URL</span>
            <input class="form-control" id="web_url" name="web_url" type="text" value="<%= cfg[:web_url] %>">
          </div>
        <div class="input-group">
            <span class="input-group-addon">登录用户</span>
            <input class="form-control" id="web_user" name="web_user" type="text" value="<%= cfg[:web_user] %>">
          </div>
        <div class="input-group">
            <span class="input-group-addon">登录密码</span>
            <input class="form-control" id="web_password" name="web_password" type="text" value="<%= cfg[:web_password] %>">
        </div>
        <div class="input-group">
           <span class="input-group-addon">测试帐号</span>
            <input class="form-control" id="web_db" name="web_db" type="text" value="<%= cfg[:web_db] %>">
        </div>
      </div>
      </div>
    </div>
    <% unless stab %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#测试设备配置" href="#Mysql参数">Mysql参数</a></h4>
          </div>
          <div id="Mysql参数" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-group">
                <b>主机名:</b>
                <input class="form-control" type="text" id="mysql_host" name="mysql_host" placeholder="需要远程连接数据库" value="<%= cfg[:mysql_host] %>">
                <b>数据库名:</b>
                <input class="form-control" type="text" id="mysql_db" name="mysql_db" placeholder="需要远程连接数据库" value="<%= cfg[:mysql_db] %>">
                <b>内置/外置:</b>
                <select class='form-control' id='mode' name='mode'>
                  <option value='inside' <%= "checked" unless cfg[:mode] == "inside" %>>内置DC</option>
                  <option value='outside' <%= "checked" unless cfg[:mode] == "inside" %>>外置DC</option>
                </select>
              </div>
              <a class="btn btn-primary btn-sm test_mysql" href="#">测试MySql</a>

              <div id="info"></div>
              <script>
                  $('.test_mysql').click(function (e) {
                      e.preventDefault();//in this way you have no redirect
                      var form = $(this).closest('div')
                      var mysql_host = $(form).find('#mysql_host')[0].value;
                      var mysql_db = $(form).find('#mysql_db')[0].value;
                      var mode = $(form).find('#mode')[0].value;
                      $.ajax({
                          url: "/tools/test_mysql",
                          type: "post",
                          data: {mysql_host: mysql_host, mysql_db: mysql_db, mode: mode},
                          success: function (data) {
                              $($(form).find("div#info")[0]).html(data)
                          }
                      });
                  });
              </script>

            </div>
          </div>
        </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#测试设备配置" href="#Debug_Sql与DC系统设置">Debug_Sql与DC系统设置</a></h4>
      </div>
      <div id="Debug_Sql与DC系统设置" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">
            <label>SQL调试级别</label>
            <input class="form-control" id="debug_sql_level" name="debug_sql_level" type="text" value="<%= cfg[:debug_sql_level] %>">

            <div class="well well-sm">自然数格式输入,越大调试信息越丰富.测报表时会关掉.</div>
          </li>
          <li class="list-group-item">
            <label>DC系统设置</label>
            <textarea class="form-control" id="sys_config" name="sys_config" rows="6" cols="30"><%= cfg[:sys_config] %></textarea>

            <div class="well well-sm">可设置多个项,以换行间隔。每个格式为: 设置项:设置值</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>