<H1>Index of <%= dir %></H1>
<HR>
<table class="table table-bordered table-striped">
  <tr>
    <td>Name</td>
    <td>Last modified</td>
    <td>Size</td>
  </tr>

  <% Dir.entries(dir).sort.each do |e| %>
  <tr>
    <% if File.file?(dir + '/' + e) %>
      <td><A HREF="<%= e %>"><%= e %></A></td>
      <td><%= File.mtime(dir + '/' + e) %></td>
      <td><%= File.size(dir + '/' + e) %></td>
    <% else %>
      <td><A HREF="<%= e + '/' %>"><%= e + '/' %></A></td>
      <td><%= File.mtime(dir + '/' + e) %></td>
      <td>-</td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= "<a href='/reports/download?path=#{dir}'>打包下载</a>" %>
<HR>

