<div class="panel panel-primary">
  <div class="panel-heading"><%= file %></div>
  <div class="panel-body">
    <% if file =~ %r{.html?$} %>
       <%= yield %>
    <% else %>
      <pre><%= yield %></pre>
    <% end %>
  </div>
</div>
