<% report_results.each do |r| %>
<form accept-charset="UTF-8" method="post">
    <input hidden name="uri" value="<%= r[:uri] %>" type="text">

<fieldset>
  <legend>
    <input type="submit" value="同步&更新" <%= 'disabled="disabled"' unless r[:st] == "online" %>>
    <%= r[:uri] %>[<%= r[:st] %>]上的运行报告
  </legend>
  <table>
    <tr><td><b>序号</b></td><td><b>报告路径</b></td></tr>
    <% r[:reports].each_with_index do |report, i|%>
    <tr>
      <td><%= i+1 %></td>
      <td><a href="<%= report %>"><%= report %></a></td>
    </tr>
  <% end %>
  </table>
  <a href="<%= '/reports/result/' + r[:uri].split(%r{[:/]+})[1..-1].join('_') + '/' %>">更多详细...</a>
</fieldset>
</form>
<hr>
<% end %>
