<% if cfg.nil? or cfg.length == 0 %>
    什么都没有...
    <a href="javascript:init_config()" xmlns="http://www.w3.org/1999/html">初始化检查点</a>
    <hr/>
<% else %>
    <% ondb_click = nil %>
    <% unless readonly %>
        <button class="btn btn-sm btn-primary" onclick='post_case_config("case_config", true)'>
          <span class="glyphicon glyphicon-floppy-save"></span><b>保存</b>
        </button>
        <div class="btn-group navbar-right">
          <button class="btn btn-danger" onclick="addRow('case_config');" title="追加一行">
            <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-arrow-right"></span>
          </button>
          <button class="btn btn-danger" onclick="deleteRow('case_config');" title="刪除一行">
            <span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
        <% ondb_click = 'contenteditable' %>
    <% end %>

    <table id="case_config" class="table table-bordered table-striped">
      <% cfg.each do |k, v| %>
          <tr>
            <td <%= ondb_click %>><%= k %></td>
            <td <%= ondb_click %>><%= v %></td>
          </tr>
      <% end %>
    </table>
<% end %>
