<% unless readonly %>
    <button class="btn btn-sm btn-primary" onclick='post_case_data(true)'><b>保存</b></button>
    <%= gen_tc_data_table_adder %>
<% end %>
<% id_prefix = "case_data_" %>
<% datas.each_with_index do |d, i| %>
    <%= gen_tc_data_table_html(i, d, readonly) %>
<% end %>
