<div class="row">
    <div class="col-xs-3">
      <div class="input-group">
        <span class="input-group-addon">table_name:</span>
        <input class="form-control" id="case_data_<%= table_index %>_name" value="<%= data['table_name'] %>">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="input-group">
        <span class="input-group-addon">table_date:</span>
        <input class="form-control" id="case_data_<%= table_index %>_date" value="<%= data['table_date'] %>">
      </div>
    </div>
    <div class="btn-group navbar-right">
        <button class="btn btn-sm btn-info" onclick="clone_data_table(this);">克隆此表</button>
        <button class="btn btn-sm btn-danger" onclick="del_data_table(this);">删除此表</button>
      </div>

</div>
<div class="row">
  <%= gen_table_html("case_data_" + table_index.to_s + "_data", data['table_datas'], readonly) %>
</div>