<div class="panel panel-info" id="div_<%= part %>">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#div_<%= part %>" href="#<%= part %>"><%= part_name %></a>
    </h4>
  </div>
  <div id="<%= part %>" class="panel-collapse collapse">
    <div class="panel-body"><%= yield %></div>
  </div>
</div>