<div class="row">
  <div class="col-xs-5">
    <div class="input-group">
      <span class="input-group-addon">用例名称：</span>
      <input name='case_name' class="form-control" value=<%= tc['case_name'] %> <%= 'disabled' if readonly %>>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="input-group">
      <span class="input-group-addon">测试页面名称:</span>
      <input name='case_webname' class="form-control" value=<%= tc['web_name'] %> <%= 'disabled' if readonly %>>
    </div>
  </div>
  <% unless readonly %>
      <div class="col-xs-2">
      <div class="input-group">
        <button class="btn btn-sm btn-primary"  onclick="post_case_summary(true);"><b>保存</b></button>
      </div>
      </div>
  <% end %>
</div>

