<div class=" form-group navbar-right">
    <select id="add_table_name" class="form-control-static">
      <% tables.each do |k| %>
        <option value="<%= k %>"><%= k %></option>
      <% end %>
    </select>
  <button class="btn btn-danger" onclick="javascript:add_case_data(document.getElementById('add_table_name').value)">添加数据table</button>
</div>