<link rel="stylesheet" href="/css/jstree/themes/default/style.min.css"/>
<div id="jstree_debug_div">

</div>
<script src="/js/jstree.js"></script>
<script>
    $('#jstree_debug_div').jstree({'plugins': ['checkbox'], 'core': {
        'data': [
            '没有测试用例的用例套',
            {'text': '没有用例的测试套'},
            {'text': '没有用例的测试套', 'children': []},
            {'text': '测试套1', 'children': [
                {'text': '1#用例1', 'icon': 'glyphicon glyphicon-leaf', 'data': 1},
                {'text': '2#用例2', 'icon': 'glyphicon glyphicon-leaf', 'data': '用户的ID'}
            ]},
            {'text': '测试套2', 'children': [
                {'text': '用例1'},
                '用例2'
            ]},
            {'text': '测试套3', 'children': ['用例1', '用例2']},
            {'text': '测试套4', 'children': []},
        ]
    }});
</script>