<div class="jumbotron">
  <div class="row">
    <div class="col-xs-8">
      <h1>欢迎使用DC自动化测试服务器</h1>
      <p>在使用前最好阅读下指导和帮助文档，不然您会在测试中遇到很大的麻烦.</p>
      <a class="btn btn-primary btn-lg" href="/docs/help">了解更多 &raquo;</a>
    </div>
    <div class="col-xs-4">
      <img src="/pics/datacenter_autotest.jpg">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>准备DC环境: =></h2>
    <p>1.升级环境.</p>
    <p>2.开通mysql远程.</p>
    <p>3.添加pdf报表测试接口开关并添加智能报表接口文件.</p>
    <p>4.去除dcweb目录和dcweb/temp目录下的".htaccess"文件.</p>
  </div>
  <div class="col-lg-4">
    <h2>添加测试任务: =></h2>
    <p>1.dc的web登录参数与测试帐号选择与其它设置.</p>
    <p>2.mysql远程登录参数与数据库选择.</p>
    <p>3.选择执行机.</p>
    <p>4.选择执行用例与执行结果目录设置(易于区分执行批次和目的).</p>
  </div>
  <div class="col-lg-4">
    <h2>进度监控查看与报告获取</h2>
    <p>1.<a href="/monitors/running/">执行时监控</a>.如果你实在是很闲,那么就一直守着吧,不过一般是不用你守的,你可以关闭你度浏览器.</p>
    <p>2.执行完后度<a href="/reports/result">报告获取.</a></p>
  </div>
</div>
