<form method="GET" action='/tc_snipper/debug'>
  <textarea class='form-control' name='tc'><%= tc %></textarea>
  <textarea class='form-control' name='code'><%= code %></textarea>
  <button type='submit' class='btn btn-primary'>翻译翻译</button>
</form>