<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="zwh@sangfor.com" content="">

  <!-- jquery scripts -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/case/table_filter.js"></script>

  <title>DC AutoTest Server</title>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-liquidr">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DC AutoTest Server</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/tasks">任务<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/tasks/add_task">添加功能测试任务</a></li>
              <li><a href="/tasks/add_stab_task">添加稳定性运行任务</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/monitors">监控<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/monitors/">功能测试监控</a></li>
              <li><a href="/monitors/stab/">稳定性运行监控</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/reports">测试结果<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/reports/result/">功能测试运行报告</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/cfgs">配置<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/cfgs/drblist">功能测试执行机配置</a></li>
              <li><a href="/cfgs/testdevices">功能测试设备配置</a></li>
              <li class="divider"></li>
              <li><a href="/cfgs/stab_drblist">稳定性环境执行机配置</a></li>
              <li><a href="/cfgs/stab_testdevices">稳定性测试设备配置</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">用例<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/tests/index?type=func">功能测试用例</a></li>
              <li><a href="/tc_snipper/config">功能测试用例配置</a></li>
              <li class="divider"></li>
              <li><a href="/tests/index?type=query">数据准确性测试用例</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/tools">工具<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/tools/trans_ship">代码传送门</a></li>
              <li><a href="/tools/test_mysql">mysql工具</a></li>
            </ul>
          </li>
          <li><a href="/docs/help">帮助</a></li>
          <li><a href="/about">关于</a></li>

        </ul>
        <div class="navbar-right">
          <div class="navbar-form">
              <div class="input-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="glyphicon glyphicon-list"></span>
                  </span>
                  <input type="search" class="form-control light-table-filter" data-table="order-table" placeholder="Filter">
                </div>
              </div>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
  <div class="container-liquidr"><%= yield %></div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy;
      <a href="http://www.darkzuo.net/">Zwh</a>&<a href="http://user.qzone.qq.com/176447109">Mpy</a>@Sangfor 2013</p>
  </div>
</div>
</body>
</html>
